﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CustomerFeedback.aspx.cs" Inherits="CustomerFeedback" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="Styles/Home.css" rel="stylesheet" />
    <link href="Styles/Main.css" rel="stylesheet" />
    <title>Digital Upcale Manager for Bllgames Site: Feedbacks</title>
</head>
<body>
    <div id="wrapper">
         <header>
        <h1>Digital Upscale Manager <span id="special">for</span> Ballgames</h1>
        <h2>Managing Ballgames with Technology</h2>
    </header>
        <h3>Feedback</h3>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
        </div>
</body>
</html>
