﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FeedbackComplete.aspx.cs" Inherits="FeedbackComplete" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <link href="Styles/Main.css" rel="stylesheet" />
    <link href="Styles/Home.css" rel="stylesheet" type="text/css" />
    <title>Digital Upcale Manager for Bllgames Site: Confirm Feedback</title>
</head>
<body>
<div id="wrapper">
    <header>
        <h1>Digital Upscale Manager <span id="special">for</span> Ballgames</h1>
        <h2>Managing Ballgames with Technology</h2>
    </header>
    <h3>Confirm Your Feedback</h3>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Button1" runat="server" Text="Button" />
        <asp:Button ID="Button2" runat="server" Text="Button" />
    
    </div>
    </form>
    </div>
</body>
</html>
