﻿

.info {
    margin-bottom: 0.4em;
    margin-left: 75px;
    margin-top: 0;
    top: 0;
    font-style: italic;
}

#lbCustomerList {
    width: 425px;
    height: 250px;
    margin-left: 30px;
}

.sideButton {
    float: right;
}

#contactListHeader {
    width: 4em;
    margin-right: 0.2em;
}

#btnSelectAdditonalCustomers {
    width: auto;
}