﻿@import url(http://fonts.googleapis.com/css?family=Stardos+Stencil|Muli&v2);

body {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.4;
    font-size: 85%;
    padding: 10px;
    background-color: #252049;
}


#wrapper {
    background-image: url('../Images/banner.jpg');
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
    width: 1200px;
}

header {
    background: #0000c8;
    background: rgba(0, 0, 200, 0.5);
    border: #0000c8;
    border: rgba(0, 0, 200, 0.5);
    font-family: 'Stardos Stencil';
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.4;
    padding-left: 0.7em;
}

#special {
    font-style: italic;
    font-family: Arial Narrow;
}

h1 {
    background: #0000c8;
    background: rgba(255, 0, 90, 0.5);
    padding-left: 3em;
    margin-right: 17.2em;
}

h2 {
    color: white;
}

#content {
    background-color: #60afcd;
    background-color: rgba(96, 175, 205, 0.8);
    border: 1px solid white;
    width: 50em;
    height: 36em;
    margin-left: 3em;
    overflow: auto;
}

h2, #content {
    padding-left: 0.7em;
}

#ddlCustomer {
    width: 10em;
}

label {
    display: block;
    float: left;
    clear: left;
    width: 6em;
    margin-right: 3em;
    margin-bottom: 2em;
    font-weight: bold;
}

#customer {
    width: 15em;
} 

#state, #zipCode {
    margin-left: 50px;
    clear: none;
}

#state, #lblState {
    width: 2em;
}

#zipCode, #lblZipCode {
    width: 5em;
}

#lblEmail, #lblAddress{
    width: 20em;
}

.dynamicLabel {
    margin-bottom: 3em;
    float: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.5);
    width: 10em;
    padding-left: 0.5em;
}

#btnAddCustomer {
    clear: left;
    margin-left: 9em;
}

.button {
    margin-left: 3em;
    width:135px;
    float: left;
}

.error {
    color: yellow;
    float: left;
    padding-left: 0.5em;
    clear: left;
}

footer {
    color: white;
}